*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.gitignore.orig
.gitignore_BACKUP_5969
.gitignore_BASE_5969
.gitignore_LOCAL_5969
.gitignore_REMOTE_5969
.idea/vcs.xml
app/libs/
/app/src/main/res/values/secrets.xml
libs/
src/main/res/drawable/
