<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.animo.gita">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">



        </activity>

        <activity
            android:name=".activity.ReposDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.animo.gita.activity.MainActivity" />
        </activity>

        <activity
            android:name=".activity.FileViewActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.animo.gita.activity.ReposDetailActivity" />
        </activity>

        <activity
            android:name=".activity.OAuthLoginActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activity.FileDiffActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.animo.gita.activity.ReposDetailActivity" />
        </activity>

        <activity
            android:name=".activity.CommitsDetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.animo.gita.activity.ReposDetailActivity" />
        </activity>

        <service
            android:exported="false"
            android:name=".FetchActivityService">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE"/>
            </intent-filter>
        </service>

        <provider
            android:authorities="com.example.animo.gita"
            android:name=".data.RepoProvider" />

        <activity android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.example.animo.gita" />

            </intent-filter>

        </activity>

        <receiver
            android:name=".widget.RepoWidgetProvider"
            android:label="@string/title_widget_detail"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.udacity.stockhawk.ACTION_DATA_UPDATED" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_repo_info" />
        </receiver>

        <service
            android:name=".widget.RepoWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <service android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name ="com.google.firebase.INSTANCE_ID_EVENT" />
                </intent-filter>
        </service>
    </application>

</manifest>